@charset "UTF-8";

:root {
	--primary-color: #ccd5ae;
	--secondary-color: #E9EDC9;
	--tertiary-color: #FEFAE0;
	--quaternary-color: #FAEDCD;
	--quinary-color: #D4A373;
	--senary-color: #7b8168;
	--primary-font: 'Century Gothic', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
}

header {
	background-color: var(--quaternary-color);
	color: var(--quinary-color);
	height: 10vh;
}

header a {
	text-decoration: none;
	color: var(--quinary-color);
}

main {
	background-color: var(--tertiary-color);
	font-family: 'Century Gothic', sans-serif;
	color: var(--quinary-color);
	height: 80vh;
	display : flex ; 
	flex-direction: column;
	justify-content: center; 
	align-items: center; 
}

footer {
	display : flex ; 
	flex-wrap : wrap;
	flex-direction : row ;
	background-color: var(--secondary-color);
	justify-content: center ;
	color: var(--senary-color);
	height: 10vh;
}

/* ************************************************** */

/* ************************************************** */
/* ***************FIL D'ARIANE' ********************* */
/* ************************************************** */

.breadcrumb {
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
}

.breadcrumb a:hover {
    text-decoration: underline;
    color: #007bff;
}

/* ************************************************** */

form {
	display: flex;
/* 	width : 80%; */
	justify-content: space-evenly;
/* 	flex-wrap: wrap; */
	
}

form section  {
	width : 40%;
}

form section div {
	display : flex;
	width : 100%;
	margin-top : 1vh ;
/* 	align-content: space-between ;  */
	margin-bottom : 1vh ;
	background-color: #FAEDCD;
	border-radius: 3%;
	height:8vh;
	padding: 5px;
	flex-direction: column;
}

form section div input {
	border: 1px solid #D4A373;
    border-radius : 5px;
    padding: 3px; 
    height: 50%;
    background-color: var(--tertiary-color);
    
}

.button {
	padding : 5px;
}

.msgBox {
	margin-bottom : 5%;
	border: 1px solid var(--quinary-color);
	border-radius : 5px;
	padding: 3px; 
	color: var(--quinary-color); 
}