@charset "UTF-8";

:root {
	--primary-color: #ccd5ae;
	--secondary-color: #E9EDC9;
	--tertiary-color: #FEFAE0;
	--quaternary-color: #FAEDCD;
	--quinary-color: #D4A373;
	--senary-color: #7b8168;
	--primary-font: 'Century Gothic', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
}

header {
	background-color: var(--quaternary-color);
	color: var(--quinary-color);
	height: 10vh;
}

header a {
	text-decoration: none;
	color: var(--quinary-color);
}

main {
	background-color: var(--tertiary-color);
	font-family: 'Century Gothic', sans-serif;
	color: var(--quinary-color);
	height: 80vh;
	display : flex ; 
	flex-direction: column;
	justify-content: center; 
	align-items: center; 
}

footer {
	display : flex ; 
	flex-wrap : wrap;
	flex-direction : row ;
	background-color: var(--secondary-color);
	justify-content: center ;
	color: var(--senary-color);
	height: 10vh;
}


/* ************************************************** */
/* ***************FIL D'ARIANE' ********************* */
/* ************************************************** */

.breadcrumb {
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
}

.breadcrumb a:hover {
    text-decoration: underline;
    color: #007bff;
}

/* ************************************************** */

main div h2 {
	margin-bottom : 30px;
}

.container {
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-content : space-between; 	
	flex: wrap; 
	margin-left: 10%;
	width: 20%;
}

label {
	margin-right: 20px;
}

input {
	margin-right: 10px;
}

.buttonReg {
	padding-top : 25px ;
	padding-bottom : 25px ;
	padding-left : 40px ;
	padding-right: 40px ;
	justify-content : center;
	display: flex;
	flex-flow: row;
	gap : 50px;
	font-family: 'Century Gothic', sans-serif;
	border: 1px solid #D4A373;
    border-radius : 5px;
    height: 50%;
    background-color: #FAEDCD;
	
	
}