@charset "UTF-8";

:root {
	--text-input-color: #2b2b2b;
}

body {
	background-color: var(--tertiary-color);
}

.container h1 {
		text-align: center;
		font-weight: 600;
}

img {
	width: 100%;
	max-width: 600px;
}

form input {
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	display: block;
	background-color: var(--quaternary-color);
	color: var(--text-input-color);
	width: 100%;
}

form textarea {
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	display: block;
	background-color: var(--quaternary-color);
	color: var(--text-input-color);
	width: 100%;
}