@charset "UTF-8";

body {
	background-color: var(--tertiary-color);
}
img{
  max-width: 600px;
  height: auto;
}

.seller {
	background-color: var(--quaternary-color);
}

.article {
	margin-right: 20px;
}

.article div {
	padding: 5px;
}

.article img {
	width: 100%;
}

.actions a, .actions input {
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	display: block;
	background-color: var(--quaternary-color);
	color: var(--quinary-color);
	font-weight: bold;
	font-size: 1.8em;
	width: 100%;
	text-align: center;
}

.actions a:hover, .actions input:hover {
	color: var(--senary-color);
}

.actions > * {
	width: 100%;
 }