@charset "UTF-8";

body {
	background-color: var(--tertiary-color);
}

main {
	margin: 20px 20%;
}

form fieldset {
	background-color: var(--quaternary-color);
	border: 1px solid var(--quinary-color);
}