@charset "UTF-8";

form {
	display: flex;
	justify-content: space-between;
}

form section  {
	width : 40%;
}

form section div {
	display : flex;
	width : 100%;
	margin-top : 1vh ;
/* 	align-content: space-between ;  */
	margin-bottom : 1vh ;
	background-color: #FAEDCD;
	border-radius: 3%;
	height:8vh;
	padding: 5px;
	flex-direction: column;
}

form section div input {
	border: 1px solid #D4A373;
    border-radius : 5px;
    padding: 3px; 
    height: 50%;
    background-color: var(--tertiary-color);
}

button {
	padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: block;
    background-color: var(--quaternary-color);
    text-align: center; 
    font-weight: bold;
    font-size: 1.2em;
}

button a {
     	color: var(--quinary-color);
}

.myButtons button {
	padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: block;
    background-color: var(--quaternary-color);
    text-align: center; 
    font-weight: bold;
    font-size: 1.2em;
 	color: var(--quinary-color);
	margin-top : 10%;
	padding-left : 15%;
	padding-right: 15%;
    border: 1px solid var(--quinary-color);
}

.msgBox {
	margin-bottom : 5%;
	border: 1px solid var(--quinary-color);
	border-radius : 5px;
	padding: 3px; 
	color: var(--quinary-color); 
	font-weight: bold;
    font-size: 1.2em;
}