@charset "UTF-8";

main div h2 {
	margin-bottom : 30px;
}

.container {
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-content : space-between; 	
	flex: wrap; 
	margin-left: 10%;
	width: 20%;
}

label {
	margin-right: 20px;
}

input {
	margin-right: 10px;
}

.buttonReg {
	padding-top : 25px ;
	padding-bottom : 25px ;
	padding-left : 40px ;
	padding-right: 40px ;
	justify-content : center;
	display: flex;
	flex-flow: row;
	gap : 50px;
	font-family: 'Century Gothic', sans-serif;
	border: 1px solid #D4A373;
    border-radius : 5px;
    height: 50%;
    background-color: #FAEDCD;
}


/* @media screen and (max-width: 576px) and (orientation: portrait) {} */