main {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 5vh;
	overflow: auto;
}

main h1 {
	text-align: center;
	width: 100%;
	border-top: 2px solid var(--quinary-color);
	border-bottom: 2px solid var(--quinary-color);
}

form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	max-width: 600px;
	min-width: 250px;
	margin: 5vh 0 0 0;
}

* {
	min-width: fit-content;
}

form>* {
	min-width: fit-content;
}

form div {
	margin-top: 10px;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	border: none;
	border-radius: 5px;
	width: 40%;
	height: fit-content;
	background-color: var(--quaternary-color);
}

form div:nth-last-child(1) {
	margin: 10px;
	border: none;
	width: fit-content;
	height: fit-content;
	background-color: var(--third-color);
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

form div:nth-last-child(1) input {
	font-weight: bold;
	font-size: 1.8em;
	width: 40%;
	margin-bottom: 10px;
}

form input {
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	display: block;
	background-color: var(--quaternary-color);
	color: var(--quinary-color);
	width: 100%;
}

form label {
	margin-left: 2px;
	display: block;
	margin-bottom: 0;
	font-weight: bold;
}

.rounded {
	height: 4px;
	width: 100%;
	background-color: var(--quaternary-color);
	border-radius: 5px;
	width: 70%;
}

.delete {
	display: none;
}

.delete>div {
	width: 100%;
}

.delete>h2 {
	color: var(--senary-color);
}

.delete>h2, h4 {
	width: 100%;
	text-align: right;
}

.edit {
	display: none;
}

.show label {
	background-color: var(--tertiary-color);
}

.show input {
	background-color: var(--tertiary-color);
}

.show div {
	background-color: var(--tertiary-color);
}

.input-container:nth-child(even)>* {
	text-align: right;
}

.view div:nth-child(even)>* {
	text-align: right;
}

.view label {
	background-color: var(--tertiary-color);
}

.view input {
	background-color: var(--tertiary-color);
}

.view div {
	background-color: var(--tertiary-color);
}

.show div:nth-last-child(1) {
	justify-content: center;
}

.show div:nth-last-child(1) input {
	background-color: var(--quaternary-color);
	font-weight: bold;
	font-size: 1.8em;
	width: 80%;
}

#editButton {
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	display: block;
	background-color: var(--quaternary-color);
	color: var(--quinary-color);
	font-weight: bold;
	font-size: 1.8em;
}

#deleteButton {
	color: var(--primary-color);
	min-width: fit-content;
	font-size: 1.6em;
	font-size: clamp(1em, 5vw, 2em);
}

#deleteButtonConfirm {
	color: var(--senary-color);
	min-width: fit-content;
}

.half-spacer {
	width: 100%;	
	min-width: fit-content;
 }

 .half-spacer * {
	width: 40%;
	min-width: fit-content;
}

