<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ProjetENI-Enchere</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>

	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.jspf</url-pattern>
	</servlet-mapping>

	<filter-mapping>
		<filter-name>Log</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Encode</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IsLoggedIn</filter-name>
		<url-pattern>/encheres/modifier</url-pattern>
		<url-pattern>/encheres/supprimer</url-pattern>
		<url-pattern>/encheres/encherir</url-pattern>
		<url-pattern>/encheres/retrait</url-pattern>
		<url-pattern>/encheres/nouvelle</url-pattern>
		<url-pattern>/utilisateur</url-pattern>
		<url-pattern>/utilisateur/modifier</url-pattern>
		<url-pattern>/utilisateur/supprimer</url-pattern>
		<url-pattern>/credits</url-pattern>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IsAdmin</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IsDisabled</filter-name>
		<url-pattern>/encheres/modifier</url-pattern>
		<url-pattern>/encheres/supprimer</url-pattern>
		<url-pattern>/encheres/encherir</url-pattern>
		<url-pattern>/encheres/retrait</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GetArticle</filter-name>
		<url-pattern>/encheres/modifier</url-pattern>
		<url-pattern>/encheres/supprimer</url-pattern>
		<url-pattern>/encheres/encherir</url-pattern>
		<url-pattern>/encheres/retrait</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IsOwner</filter-name>
		<url-pattern>/encheres/modifier</url-pattern>
		<url-pattern>/encheres/supprimer</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Breadcrumb</filter-name>
		<url-pattern />
	</filter-mapping>
</web-app>